.s-line {
    stroke: rgb(25, 20, 25);
    stroke-width: 4;
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.s-main-container:hover .s-svg-container .s-line {
    stroke-dashoffset: 0;
}

/*timeout*/
.s-main-container:hover .s-svg-container .s-right-upper {
    transition-delay: .28s;
}
.s-main-container:hover .s-svg-container .s-left-upper {
    transition-delay: .22s;
}
.s-main-container:hover .s-svg-container .s-left-lower {
    transition-delay: .20s;
}
.s-main-container:hover .s-svg-container .s-right-lower {
    transition-delay: .1s;
}

/*reverse timeout*/
.s-main-container:not(:hover) .s-svg-container .s-left-upper {
    transition-delay: .09s;
}
.s-main-container:not(:hover) .s-svg-container .s-left-lower {
    transition-delay: .15s;
}
.s-main-container:not(:hover) .s-svg-container .s-right-lower {
    transition-delay: .24s;
}
