@import "page_action/line-animation/line-animation.css";
@import "page_action/common.css";
@import "page_action/btn-fab.css";
@import "page_action/btn-animation/btn-spec.css";
@import "page_action/btn-animation/btn-animation.css";
@import "page_action/loader.css";
@import "lib/roboto.css";
@import "lib/material-icons.css";
@import "lib/bootstrap.min.css";
@import "lib/bootstrap-material-design.css";
@import "lib/ripples.css";

.form-group {
    margin: 0;
    padding-bottom: 0;
}

.form-group label.control-label {
    margin: 0;
}

.s-container {
    height: 270px;
    /*top: 20px;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    position: relative;
    /*bottom: 20px;*/
}

.s-svg-container {
    position: absolute;
    top: 95px;
    left: 85px;
}

.s-svg-welcome {
    font-weight: 600;
    font-size: 40px;
    position: absolute;
    top: 201px;
    left: 307px;
}

.s-svg-welcome span::after {
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    content: 'WELCOME';
}

.s-bg-circle {
    animation-name: bg-circle;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes bg-circle {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes bg-circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.s-svg-circle {
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
}

.s-main-container:hover .s-svg-circle {
    stroke-dashoffset: 0;
}

.s-main-container:not(:hover) .s-svg-circle {
    transition-delay: .2s;
}

/*span.s-main-container:hover p.s-svg-welcome span {*/
/*display: none;*/
/*}*/

/*span.s-main-container:hover p.s-svg-welcome::after {*/
/*content: "START!";*/
/*}*/
.message-on-finished-tests {
    margin-left: 180px;
    padding-bottom: 220px;
}