<div ng-controller="settingsController as settingsCtrl">
    <div class="col-sm-12">

        <div class="display-inline-block">
            <h2>SETTINGS</h2>
        </div>

        <div class="btn-group display-inline-block float-right">
            <a data-target="#" class="btn dropdown-toggle s-title-btn" data-toggle="dropdown"
               ng-bind="settingsCtrl.template_index || 'LABEL'">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-click="settingsCtrl.getSettingsFor('Mod I')"><a href="">MOD I</a></li>
                <li ng-click="settingsCtrl.getSettingsFor('Mod II')"><a href="">MOD II</a></li>
                <li ng-click="settingsCtrl.getSettingsFor('Global')"><a href="">GLOBAL</a></li>
            </ul>
        </div>
        <div class="line-separator"></div>
        <h5>Selected "{{settingsCtrl.template_index}}" label</h5>
    </div>

    <div class="s-container">
        <div ng-include="'/page_action/view/settings/' + settingsCtrl.settingsEndpoint[settingsCtrl.template_index].template"></div>
    </div>

    <a class="btn btn-default display-inline-block s-left-toolbar" ng-click="settingsCtrl.returnToMenu()">Menu</a>
    <a class="btn btn-primary display-inline-block float-right s-right-toolbar"
       ng-click="settingsCtrl.applyChanges(settingsCtrl.template_index)">Apply</a>
</div>