<div ng-controller="settingsController as settingsCtrl">
    <div class="col-sm-12">
        <h2>SETTINGS</h2>
        <div class="line-separator"></div>
    </div>

    <div class="s-right-title">
        <label for="select_label" class="col-md-2 control-label">Select label</label>

        <div class="col-md-10">
            <select id="select_label"
                    class="form-control"
                    ng-model="settingsCtrl.template_index"
                    ng-change="settingsCtrl.getSettingsFor(settingsCtrl.template_index)">
                <option>Mod I</option>
                <option>Mod II</option>
                <option>Global</option>
            </select>
        </div>
    </div>

    <div class="s-container">
        <div ng-include="'/page_action/view/settings/' + settingsCtrl.settingsEndpoint[settingsCtrl.template_index].template"></div>
    </div>

    <div class="col-sm-7 col-sm-offset-5">
        <a class="btn btn-default" ng-click="settingsCtrl.returnToMenu()">Menu</a>
        <a class="btn btn-primary" ng-click="settingsCtrl.applyChanges(settingsCtrl.template_index)">Apply</a>
    </div>
</div>